<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\ErpMobile.Api.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      
      <modules runAllManagedModulesForAllRequests="true">
        <remove name="WebDAVModule" />
      </modules>
      
      <httpProtocol>
        <customHeaders>
          <clear />
          <add name="Access-Control-Allow-Origin" value="*" />
          <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
          <add name="Access-Control-Allow-Headers" value="*" />
          <add name="Access-Control-Max-Age" value="86400" />
        </customHeaders>
      </httpProtocol>
      
      <rewrite>
        <rules>
          <rule name="OPTIONS Preflight" stopProcessing="true">
            <match url=".*" />
            <conditions>
              <add input="{REQUEST_METHOD}" pattern="OPTIONS" ignoreCase="true" />
            </conditions>
            <action type="CustomResponse" statusCode="200" statusReason="OK" statusDescription="OK" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>
